@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
    margin: 0;
    background-image: url(../);
    padding: 0;
    box-sizing: border-box;
  }

  .LoginInput {
    font-family: "Poppins", sans-serif;
    
  }
  
  .loginContainer {
    position: relative;
    width: 100%;
    background-image: url(../assests/fortnite-darth-vader-dn.jpg);
    background-size: 100%;
    min-height: 100vh;
    overflow: hidden;
  }
  
  .forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .signin-signup {
    position: absolute;
    top: 50%;
    color: hsla(0, 0%, 0%, 0.792);
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
  }
 
  .loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .loginForm.sign-up-form {
    opacity: 0;
    z-index: 1;
  }
  
  .loginForm.sign-in-form {
    z-index: 2;
  }
  
  .title {
    font-size: 2.2rem;
    font-family: 'Permanent Marker', cursive;

    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .input-field {
    max-width: 380px;
    width: 100%;
    background-color: #0e0d0d93;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }
  
  .input-field .i {
    text-align: center;
    line-height: 55px;
    color: #0000007e;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  
  .input-field .LoginInput {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #fdf5f57e;
  }
  
  .input-field .LoginInput::placeholder {
    color: #aaa;
    font-weight: 500;
  }

  
  .social-text {
    padding: 0.7rem 0;
    font-size: 1rem;
    color: #fff;
  }
  
  .social-media {
    display: flex;
    justify-content: center;
  }
  
  .social-icon {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    color: #ffffff;
    border-radius: 50%;
    border: 1px solid #333;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
  }
  
  .social-icon:hover {
    color: #f90000ab;
    border-color: #000000;
  }
  
  .loginbtn {
    width: 150px;
    background-color: #a80707;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.7rem;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .loginbtn:hover {
    background-color: hsl(0, 0%, 0%);
  }
  .panels-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .loginContainer:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    background-image: linear-gradient(-45deg, #00000085 0%, #00000085 100%);
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: 6;
  }
  
  .image {
    width: 100%;
    transition: transform 1.1s ease-in-out;
    transition-delay: 0.4s;
  }
  
  .panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
  }
  
  .left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
  }
  
  .right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
  }
  
  .panel .content {
    color: #fff;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }
  
  .panel .loginh3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1rem;
  }
  
  .panel .loginp {
    font-size: 0.95rem;
    padding: 0.7rem 0;
  }
  
  .loginbtn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.6rem;
  }
  
  .right-panel .image,
  .right-panel .content {
    transform: translateX(800px);
  }
  
  /* ANIMATION */
 
  .loginContainer.sign-up-mode:before {
    transform: translate(100%, -50%);
    right: 52%;
  }
  
  .loginContainer.sign-up-mode .left-panel .image,
  .loginContainer.sign-up-mode .left-panel .content {
    transform: translateX(-800px);
  }
  
  .loginContainer.sign-up-mode .signin-signup {
    left: 25%;
  }
  
  .loginContainer.sign-up-mode .loginForm.sign-up-form {
    opacity: 1;
    z-index: 2;
  }
  
  .loginContainer.sign-up-mode .loginForm.sign-in-form {
    opacity: 0;
    z-index: 1;
  }
  
  .loginContainer.sign-up-mode .right-panel .image,
  .loginContainer.sign-up-mode .right-panel .content {
    transform: translateX(0%);
  }
  
  .loginContainer.sign-up-mode .left-panel {
    pointer-events: none;
  }
  
  .loginContainer.sign-up-mode .right-panel {
    pointer-events: all;
  }
  
  @media (max-width: 870px) {
    .loginContainer {
      min-height: 800px;
      height: 100vh;
    }
    .signin-signup {
      width: 100%;
      top: 95%;
      transform: translate(-50%, -100%);
      transition: 1s 0.8s ease-in-out;
    }
  
    .signin-signup,
    .loginContainer.sign-up-mode .signin-signup {
      left: 50%;
    }
  
    .panels-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
    }
  
    .panel {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 2.5rem 8%;
      grid-column: 1 / 2;
    }
  
    .right-panel {
      grid-row: 3 / 4;
    }
  
    .left-panel {
      grid-row: 1 / 2;
    }
  
    .image {
      width: 200px;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.6s;
    }
  
    .panel .content {
      padding-right: 15%;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.8s;
    }
  
    .panel .loginh3 {
      font-size: 1.2rem;
    }
  
    .panel .loginp {
      font-size: 0.7rem;
      padding: 0.5rem 0;
    }
  
    .loginbtn.transparent {
      width: 110px;
      height: 35px;
      font-size: 0.5rem;
      
    }
  
    .loginContainer:before {
      width: 1500px;
      height: 1500px;
      transform: translateX(-50%);
      left: 30%;
      bottom: 68%;
      right: initial;
      top: initial;
      transition: 2s ease-in-out;
    }
  
    .loginContainer.sign-up-mode:before {
      transform: translate(-50%, 100%);
      bottom: 32%;
      right: initial;
    }
  
    .loginContainer.sign-up-mode .left-panel .image,
    .loginContainer.sign-up-mode .left-panel .content {
      transform: translateY(-300px);
    }
  
    .loginContainer.sign-up-mode .right-panel .image,
    .loginContainer.sign-up-mode .right-panel .content {
      transform: translateY(0px);
    }
  
    .right-panel .image,
    .right-panel .content {
      transform: translateY(300px);
    }
  
    .loginContainer.sign-up-mode .signin-signup {
      top: 5%;
      transform: translate(-50%, 0);
    }
  }
  
  @media (max-width: 570px) {
    .loginForm {
      padding: 0 1.5rem;
    }
  
    .image {
      display: none;
    }
    .panel .content {
      padding: 0.5rem 1rem;
    }
    .loginContainer {
      padding: 1.5rem;
    }
  
    .loginContainer:before {
      bottom: 72%;
      left: 50%;
    }
  
    .loginContainer.sign-up-mode:before {
      bottom: 28%;
      left: 50%;
    }
  } 

  /* Forget button batman  */

  .forgetpass {
    border: none;
    position: relative;
    width: 200px;
    height: 73px;
    padding: 0;
    z-index: 2;
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='868' width='2500' viewBox='0 0 726 252.17'%3E%3Cpath d='M483.92 0S481.38 24.71 466 40.11c-11.74 11.74-24.09 12.66-40.26 15.07-9.42 1.41-29.7 3.77-34.81-.79-2.37-2.11-3-21-3.22-27.62-.21-6.92-1.36-16.52-2.82-18-.75 3.06-2.49 11.53-3.09 13.61S378.49 34.3 378 36a85.13 85.13 0 0 0-30.09 0c-.46-1.67-3.17-11.48-3.77-13.56s-2.34-10.55-3.09-13.61c-1.45 1.45-2.61 11.05-2.82 18-.21 6.67-.84 25.51-3.22 27.62-5.11 4.56-25.38 2.2-34.8.79-16.16-2.47-28.51-3.39-40.21-15.13C244.57 24.71 242 0 242 0H0s69.52 22.74 97.52 68.59c16.56 27.11 14.14 58.49 9.92 74.73C170 140 221.46 140 273 158.57c69.23 24.93 83.2 76.19 90 93.6 6.77-17.41 20.75-68.67 90-93.6 51.54-18.56 103-18.59 165.56-15.25-4.21-16.24-6.63-47.62 9.93-74.73C656.43 22.74 726 0 726 0z'/%3E%3C/svg%3E") no-repeat 50% 50%;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='868' width='2500' viewBox='0 0 726 252.17'%3E%3Cpath d='M483.92 0S481.38 24.71 466 40.11c-11.74 11.74-24.09 12.66-40.26 15.07-9.42 1.41-29.7 3.77-34.81-.79-2.37-2.11-3-21-3.22-27.62-.21-6.92-1.36-16.52-2.82-18-.75 3.06-2.49 11.53-3.09 13.61S378.49 34.3 378 36a85.13 85.13 0 0 0-30.09 0c-.46-1.67-3.17-11.48-3.77-13.56s-2.34-10.55-3.09-13.61c-1.45 1.45-2.61 11.05-2.82 18-.21 6.67-.84 25.51-3.22 27.62-5.11 4.56-25.38 2.2-34.8.79-16.16-2.47-28.51-3.39-40.21-15.13C244.57 24.71 242 0 242 0H0s69.52 22.74 97.52 68.59c16.56 27.11 14.14 58.49 9.92 74.73C170 140 221.46 140 273 158.57c69.23 24.93 83.2 76.19 90 93.6 6.77-17.41 20.75-68.67 90-93.6 51.54-18.56 103-18.59 165.56-15.25-4.21-16.24-6.63-47.62 9.93-74.73C656.43 22.74 726 0 726 0z'/%3E%3C/svg%3E") no-repeat 50% 50%;
    -webkit-mask-size: 100%;
    cursor: pointer;
    background-color: transparent;
    transform: translateY(8px)
   }
   
   .forgetpass:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0px 0 0 0 white;
    transition: all 2s ease;
   }
   
   .forgetpass:hover:after {
    box-shadow: 0px -13px 56px 12px #ffffffa6;
   }
   
   .forgetpass span {
    position: absolute;
    width: 100%;
    font-size: 0.65rem;
    font-weight: 100;
    font-family: 'Permanent Marker', cursive;
    left: 50%;
    top: 39%;
    letter-spacing: 3px;
    text-align: center;
    transform: translate(-50%,-50%);
    color: rgb(226, 226, 226);
    transition: all 2s ease;
   }
   
   .forgetpass:hover span {
    color: white;
   }
   
   .forgetpass:before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background-color: black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s ease;
   }
   
   .forgetpass:hover:before {
    width: 100%;
   }
   
   